/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
*{
    box-sizing: border-box;
    padding: 0;
    max-width: 100%;
}
/* RESET */

html{
    font-size:62.5%;
}
body{
    font-size: 1.6rem;
    background-color:rgb(18, 26, 19);
    color:white;
    font:"Chelsea Market";
    background: url("https://images.unsplash.com/photo-1553787433-a377f154b018?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=675&q=80");
}

h1{
    font-size: 8rem;
    text-align: center;
    margin-top: 5%;
    margin-bottom: 5%;
}
h1:hover{
    text-transform: uppercase;
}
nav{
    display: flex;
    justify-content:center;
    margin-bottom: 2%;
}
nav a{
    border:4px solid rgb(29, 10, 10);
    width: 8%;
    text-align: center;
    border-radius: 15px;
    line-height: 4rem;
    font-size: 1.8rem;
    text-decoration: none; 
    letter-spacing: 0.2rem;
    color: white;
    background-color: #800000;
}
nav a:hover{
    background:white;
     color: rgb(117, 4, 4);
}
h2{
    text-align: center;
    font-size:4rem;
    margin-bottom: 3%;
    letter-spacing: 0.5rem;
}
h2:hover{
    text-transform: uppercase;
}
.intro p{
    text-align: center;
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
    font-size: 2rem;
    letter-spacing: 0.2rem;
    margin-bottom: 3%;
}

div.mainphoto{
    display:flex;
    flex-direction:column;
    justify-content:center;
    margin-top: 2%;
    margin-bottom: 5%;
}

.mywork{
    display: flex;
    justify-content:space-between;
    align-items:center;
}
.img1{
    height: 45vh;
    width: 15%;
}
.img1:hover{
    border:10px dotted #CD5C5C;
}
.img2{
    height: 45vh;
    width: 15%;
}
.img2:hover{
    border:10px dotted #CD5C5C;
}
.img3{
    height: 45vh;
    width: 15%;
}
.img3:hover{
    border:10px dotted #CD5C5C;
}
.img4{
    height: 45vh;
    width: 15%;
}
.img4:hover{
    border:10px dotted #CD5C5C;
}
span{
    width: 10%;
    font-size: 3rem;
}

footer{
    text-align: center;
    font-size: 4rem;
    margin-top: 4%;
    margin-bottom: 4%;
}
footer a{
    text-decoration: none; 
    color: white;
    border:4px solid white;
    border-radius: 15px;
    padding: 0 2%;
}
footer a:hover{
    text-transform: uppercase;
}
/* day 2 starts here*/
@media(max-width:800px){
    h1{
        font-size: 5rem;
    }
    nav{
        flex-direction: column;
        align-items: center;
    }
    nav a{
        width:25%;
        border-radius: 0;
    }
    h2{
        font-size: 3rem;
        letter-spacing: 1.5rem;
    }
    .intro p{
        letter-spacing: 0.1rem;
    }
    .mywork{
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .img1, .img2, .img3, .img4{
        width: 40%;
        height: 70vh;
        margin-top: 4%;
    }
    span{
        width: 100%;
        text-align: center;
        margin-top: 10%;
        margin-right: 30%;
        margin-left: 30%;
    }
    footer{
        margin-top: 30%;
        font-size: 3rem;
    }
    footer a{
        border-radius: 0;
    }
}
/*stretch goals*/
@media(max-width:360px){
    nav a{
        width:50%;
        border-radius: 0;
    }
    nav{
        margin-bottom: 5%;
    }
    h2{
        letter-spacing: 0.7rem;
    }
    .intro p{
        letter-spacing: 0;
    }
    .img1, .img2, .img3, .img4{
        height: 40vh;
    }
    span{
        font-size: 2.5rem;
    }
    footer{
        font-size: 2.5rem;
    }
}

@media(max-width:1366px){
    nav a{
        width: 12%;
        line-height: 5rem;
        margin-left: 1%;
        margin-right: 1%;
    }
}

@media(max-width:1920px){
    body{
        margin-left: 5%;
        margin-right: 5%;
    }
    nav a{
        width: 12%;
        line-height: 5rem;
        margin-left: 1%;
        margin-right: 1%;
    }
}