/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
*{
    box-sizing: border-box;
    padding: 0;
    max-width: 100%;
}
/* RESET */
html{
    font-size:62.5%;
}
body{
    font-size: 1.6rem;
}

h1{
    color:red;
    font-size: 8rem;
    text-align: center;
}
nav{
    display: flex;
    justify-content:center;
}
nav a{
    border:2px solid purple;
    width: 8%;
    text-align: center;
}
h2{
    text-align: center;
    font-size:7.5rem;
}
.intro p{
    text-align: center;
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
}

div.mainphoto{
    display:flex;
    flex-direction:column;
    justify-content:center;
}

section .mywork{
    display: flex;
    flex-wrap: nowrap
    justify-content: flex-start
    flex-direction: row;
}

.img1{
    height: 60vh;
    width: 15%;
}
.img2{
    height: 60vh;
    width: 15%;
}
.img3{
    height: 60vh;
    width: 15%;
}
.img4{
    height: 60vh;
    width: 15%;
}
.text{
    display: flex;
    flex-direction: column;
    justify-content: center;
}